/* General CSS */

body {
  padding-top: 60px;
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f8, #f1f1f1, #eaeaea, #e3e3e3);
}

html {
  scroll-padding-top: 70px; 
}

.heading {
  text-align: center;
  font-weight: bold;
}

.border {
  border-radius: 25px; 
  background-color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.18);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px #A0A0A0;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C8C8C8 10px;
  border-radius: 10px 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:	#989898;
}

select {
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: white;
}

/* Navbar css*/ 

.logo {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.navbar-brand {
  color: black !important;
  margin-top: 5px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  font-family: "Garamond" !important;
  text-decoration: underline !important;
  font-style: oblique !important;
}

.nav-background {
  background-color: #3DA6E6;
}

.menu-item {
  font-size: 20px;
  color: white !important;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.menu-item:hover {
  color: black !important;
}

.btn-primary {
  color: #fff;
  background-color: #3DA6E6 !important;
  color: black !important;
  border-color: black !important;
  padding: 15px !important;
  margin: 10px !important;
}

@media (max-width: 355px) {
.btn-primary  {
  padding: 15px 3px 15px 3px !important;
  margin: 10px 0px !important;
  font-size: 13px !important;
  }
}

/* Currency Exchange css */

.currency-box {
  padding: 20px;
  border: 2px solid black;
  /*margin: 50px 250px;*/
  margin: 50px 20%;
} 

@media (max-width: 1200px) {
  .currency-box {
    margin: 50px 15%;
  }
}

@media (max-width: 866px) {
  .currency-box {
    margin: 65px 10%;
  }
}

@media (max-width: 576px) {
  .currency-box {
    margin: 65px 1%;
  }
}

.currencyRate {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -5px;
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
}

.currency-input-box {
  margin-bottom: 20px;
  margin-top: 0px;
}

.title1 {
  margin-right: 10px;
  margin-left: 30px;
}

.title2 {
  margin-right: 10px;
  margin-left: 30px;
}

@media (max-width: 454px) {
  .title1 {
    margin-right: 8px;
    margin-left: 17px;
  }
}

@media (max-width: 424px) {
  .title1 {
    margin-right: 8px;
    margin-left: 13px;
  }
}

@media (max-width: 415px) {
  .title1 {
    margin-right: 8px;
    margin-left: 12px;
  }
}

.form-group { 
  margin: 0px 200px !important; 
  padding: 0.475rem 1rem !important; 
}

.from {
  text-align: right;
}

.input-group {
  padding: 0px 220px;
}


@media (max-width: 1100px) {
  .input-group {
    padding: 0px 150px;
  }
}

@media (max-width: 900px) {
  .input-group {
    padding: 0px 70px;
  }
}

@media (max-width: 400px) {
  .input-group {
    padding: 0px 30px;
  }
}

.input-group-text {
  color: black !important;
}

.result {
  text-align: center;
  padding: 13px 10px 0.5px 10px;
  margin: 20px 230px;
  border-radius: 20px;
  font-size: 30px;
  background-color: #b7d7e8;
  font-family: 'Inconsolata', monospace;
}

@media (max-width: 1350px) {
  .result {
    margin: 20px 25%;
  }
}

@media (max-width: 900px) {
  .result {
    margin: 20px 15%;
  }
}

@media (max-width: 477px) {
  .result {
    margin: 20px 10%;
  }
}


@media (max-width: 413px) {
  .result {
    margin: 20px 1%;
    font-size: 25px;
  }
}

/* Exchange Rates CSS*/

.exchange-box {
  padding: 20px;
  border: 2px solid black;
  margin: 50px 150px;
}

@media (max-width: 1200px) {
  .exchange-box {
    margin: 50px 7%;
  }
}

@media (max-width: 866px) {
  .exchange-box {
    margin: 50px 3%;
  }
}

@media (max-width: 576px) {
  .exchange-box {
    margin: 50px 1%;
  }
}

.choose-currency-box {
  padding: 15px 10px 8px 0px;
}

.chooseBaseCurrency {
  margin-left: 80px;
  margin-right: 10px;
  font-size: 16px;
}

@media (max-width: 540px) {
  .chooseBaseCurrency {
    margin-left: 0px;
    margin-right: 5px;
    font-size: 16px;
  }
}

.currencyList {
  columns: 3;
  padding: 30px;
  margin-left: 50px;
}

@media (max-width: 744px) {
  .currencyList {
    padding: 5px;
    margin-top: 5px;
  }
}

@media (max-width: 560px) {
  .currencyList {
    padding: 5px;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .currencyList {
    padding: 2px;
    margin-left: 10px;
    columns: 2;
  }
}

@media (max-width: 340px) {
  .currencyList {
    padding: 2px;
    margin-left: 50px;
    columns: 1;
  }
}


/* Historical Exchange CSS */



/*Footer CSS */

.footer {
  background-color: #f8fafa;
  position: absolute;
  width: 100%;
  min-height: 80px;
}

.fa {
  padding: 20px;
  margin-top: 10px !important;
  margin-right: 10px !important;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.centerBlock {
  margin-top: 15px;
  padding: 10px 30px !important;
}

.socialIcons {
  text-align: right;
}

@media (max-width: 576px) {
  .socialIcons {
    text-align: center;
  }
}

.cp-text { 
  color: rgba(0,0,0,.7); 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  position: absolute; 
  bottom: 0;
  margin-bottom: 0px;
  font-style: oblique;
}

@media (max-width: 768px) {
  .cp-text {
    position: unset;
    margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .cp-text {
    text-align: center;
  }
}

