body {
  padding-top: 60px;
}

html {
  scroll-padding-top: 70px; 
}


.exchange-box {
  padding: 20px;
  border: 2px solid black;
  margin: 50px 150px;
}

.currency-box {
  padding: 20px;
  border: 2px solid black;
  margin: 50px 250px;
} 

.heading {
  text-align: center;
}

.title {
  margin-right: 10px;
  margin-left: 30px;
}

.currencyBox {
  padding: 20px;
  text-align: center;
}

.currencyList {
  columns: 3;
  padding: 30px;
  margin-left: 50px;
}

.chooseBaseCurrency {
  margin-left: 80px;
  margin-right: 10px;
}